$blue:          #2F80ED;
$blue-light:    #F5F9FF;
$white:         #ffffff;
$dark:          #333333;
$dark-light:    #141414;
$dark-gray:     #202020;
$gray:          #828282;
$gray-light:    #BDBDBD;


.navbar{
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  width: 100%;
  &-brand{
    img{
      max-width: 100%;
      height: 60px;
    }
  }
  &-toggler{

  }
  .collapse{
    justify-content: flex-end;
    align-items: center;
    .nav-auth{
      display: flex;
      align-items: center;
      img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
    a{
      color: #CCCCCC;
    }
  }
}

.main{
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  &-content{
    max-width: 500px;
    &__title{
      font-size: 36px;
      line-height: 48px;
      color: #F0F0F0;
      margin-bottom: 24px;
      span{
        color: #338BFF;
      }
    }
    &__suptitle{
      font-size: 18px;
      line-height: 32px;
      color: #626262;
      margin-bottom: 48px;
    }
    .btn-study{
      border: 1px solid #338BFF;
      border-radius: 40px;
      color: #338BFF;
      padding: 13px 55px;
      &:hover{
        background-color: #338BFF;
        color: #F0F0F0;
        transition: 1s;
      }
    }
  }
  .bg-banner{
    max-width: 500px;
    height: auto;
  }
}
.fillter-title{
  margin-bottom: 20px;
  color: $white;
}
.fillter{
  font-size: 16px;
  line-height: 20px;
  padding-top: 40px;
  margin-bottom: 240px;
  display: flex;
  justify-content: space-between;

  &-aside{
    color: #626262;
    &__direction{
      margin-bottom: 50px;
      &-title{
        font-size: 20px;
        line-height: 19px;
        color: $white;
        margin-bottom: 24px;
      }
      &-items{
        .item{
          margin-bottom: 12px;
          color: #626262;
          input{
            margin-right: 10px;
          }
        }
      }
    }
    &__duration{
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
    }
    &__level{
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
    }



    input[type="radio"]:checked,
    input[type="radio"]:not(:checked){
      position: absolute;
      left: -9999px;
    }
    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label{
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }
    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 18px;
      height: 18px;
      border: 1px solid #dddddd;
      border-radius: 50px;
      background-color: transparent;
    }

    input[type="radio"]:checked + label{
      color: $blue;
    }
    input[type="radio"]:checked + label:before{
      border: 1px solid $blue;
      background-color: #2F80ED;
    }
    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      transition: all 0.2s ease;
    }
    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
      left: 5px;
      top: 5px;
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 10px;
      transform: rotate(-45deg);
    }
    input[type="radio"]:not(:checked) + label:after{
      opacity: 0;
    }
    input[type="radio"]:checked + label:after{
      opacity: 1;
    }







    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked){
      position: absolute;
      left: -9999px;
    }
    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label{
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 18px;
      height: 18px;
      border: 1px solid #dddddd;
      background-color: transparent;
    }
    input[type="checkbox"]:checked + label{
      color: $blue;
    }
    input[type="checkbox"]:checked + label:before{
      border: 1px solid $blue;
    }
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      border-radius: 2px;

    }
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      transition: all 0.2s ease;
    }
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      left: 4px;
      top: 5px;
      width: 10px;
      height: 5px;
      border-left: 2px solid $blue;
      border-bottom: 2px solid $blue;
      transform: rotate(-45deg);
    }
    input[type="checkbox"]:not(:checked) + label:after{
      opacity: 0;
    }
    input[type="checkbox"]:checked + label:after{
      opacity: 1;
    }
    &__select{
      display: none;
      flex-direction: column;
      &-item{
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 6px 38px 6px 12px;
        margin-bottom: 10px;

        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #828282;
      }
    }

  }

  &-courses{
    display: flex;
    align-items: center;
    padding: 30px 40px;
    //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 36px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background: #242424;
    .bg-courses{

      max-width: 100%;
      max-height: 241px;
      margin-right: 20px;
    }
    &__info{

      &-title{
        font-size: 24px;
        line-height: 32px;
        color: $blue;
        font-family: "Gotham Pro", sans-serif;
        font-weight: bold;
      }
      &-subtitle{
        font-size: 16px;
        line-height: 24px;
        color: #F0F0F0;
        font-weight: 100;
        margin-bottom: 40px;
      }
      &-training{
        display: flex;
        justify-content: flex-start;

        a{
          font-size: 16px;
          line-height: 20px;
          color: $blue;
          display: flex;
          align-items: center;
          margin-right: 20px;
          img{
            max-width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.footer{
  width: 100%;
  padding-bottom: 70px;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    &__img{
      max-width: 240px;
      height: 34px;
    }
    &__social{
      img{
        max-width: 100%;
        height: 24px;
        margin-left: 10px;
      }
    }
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__call{
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
    .navbar{
      padding: 0;
      width: 40%;
      &-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .nav-item{
          margin-left: 0 !important;
        }
        .nav-link{
          color: $white !important;

        }
      }
    }
  }
}